@model DNOAServer.Models.AlhambraOAuth2Authorization

@{
    ViewBag.Title = "AuthorizeExternalAccess";
}

<h1>AuthorizeExternalAccess</h1>

<div>
    <h2>@Model.ClientIdentifier</h2> 
    <br />is requesting permission to access the following data:
    <br />
    @foreach (string s in Model.Scope.Split(' '))
    {
        <h3>@s</h3>
    }
    <br />

@using (Html.BeginForm("AuthorizeExternalAccessResponse", "OpenIdConnect"))
{
     
    @Html.Hidden("IsApproved")
  
	Html.Hidden("client_id", (string)Model.AuthorizationRequest.client_id);
	Html.Hidden("redirect_uri", Model.AuthorizationRequest.redirect_uri);
	Html.Hidden("state", (string) Model.AuthorizationRequest.state);
	Html.Hidden("scope", (string)  Model.AuthorizationRequest.scope);
	Html.Hidden("response_type", Model.AuthorizationRequest.response_type);
		
    
    <div style="display: none" id="responseButtonsDiv">
	<div>
        What do you want to do?
	</div>	
        <table>
            <tr>
                <td><input type="submit" value="Allow" onclick="document.getElementsByName('IsApproved')[0].value = true; return true;" /></td>
                <td><input type="submit" value="Reject" onclick="document.getElementsByName('IsApproved')[0].value = false; return true;" /></td>
            </tr>
        </table>
        
        
        
		
	</div>
    
    
    <div id="javascriptDisabled">
	<b>Javascript appears to be disabled in your browser. </b>
    This page requires Javascript to be enabled to better protect your security.
    </div>

    <script  lang="javascript" type="text/javascript">
		        //<![CDATA[
		        // we use HTML to hide the action buttons and Javascript to show them
		        // to protect against click-jacking in an iframe whose javascript is disabled.
		        document.getElementById('responseButtonsDiv').style.display = 'block';
		        document.getElementById('javascriptDisabled').style.display = 'none';

		        // Frame busting code (to protect us from being hosted in an iframe).
		        // This protects us from click-jacking.
		        if (document.location !== window.top.location) {
		            window.top.location = document.location;
		        }
		        //]]>
    </script>

    
}
</div>


